html, body{
    padding: 0px;
    margin: 0px;
    background-color: #546E7A;
}

#header a{
    color: #1565C0;
    text-decoration: none;
    padding: 3%;
    padding-bottom: 4%;
    font-size: 2em;
}

#header a:hover{
    background-color: #546E7A;
    color: #0D47A1;
    text-decoration: none;
}

#header  a:visited{
    color: white;
    text-decoration: none;
}

#header{
    width: 100%;
    height: 15vh;
    background-color: #424242;
}

#header img{
    height: 90%;
    padding: 0.5%;
    float: left;
}

#content{
    padding: 50px;
}

#numb{
    width: 4%;
}