<!DOCTYPE html>
<html ng-app="CourseCombiApp">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="icon" href="img/Logo_1.png">
      <link rel="stylesheet" href="css/bootsrap.css">
      <link rel="stylesheet" href="css/index.css">
      <script src="js/all.min.js"></script>
      <title>CourseCombi main page</title>
   </head>
   <body ng-controller="mainPageController"> 
       <div id="header">
            <img src="img/Logo_1.png" alt="logo"><br>
            <a href="#">Add your university</a>
            <a href="#">Blog</a>
            <a href="#">Contacts</a>
       </div>
       <div id="content">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Choose your University
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                    <li id="search"><input type="search" ng-model="q" placeholder="search..."> </li>
                    <li ng-repeat="university in universities | filter:q"><a href="#" ng-click="setUniversity(university.name)">{{university.name }}</a></li>
                </ul>
                <div id="university"></div>
            </div><hr>
            <div id="filtres">
                When you are busy?<br><br>
                <span id="Monday">Monday 
                    <br>
                    <span>
                        <input type="number" name="" value="" id="numb" max="23" min="0">:<input type="number" name="" value="" id="numb" max="23" min="0">
                    </span>
                    <br>
                    <input type="button" id="but" onclick="addTimeValue(event)" value="add">
                    <br>
                </span>
                <span id="Tuesday">Tuesday 
                    <br>
                    <input type="number" name="" value="" id="numb" max="23" min="0">:<input type="number" name="" value="" id="numb" max="23" min="0">
                    <br>
                    <input type="button" id="but" onclick="addTimeValue(event)" value="add">
                    <br>
                </span>
                <span id="Wednesday">Wednesday 
                    <br>
                    <input type="number" name="" value="" id="numb" max="23" min="0">:<input type="number" name="" value="" id="numb" max="23" min="0">
                    <br>
                    <input type="button" id="but" onclick="addTimeValue(event)" value="add">
                    <br>
                </span>
                <span id="Thursday">Thursday 
                    <br>
                    <input type="number" name="" value="" id="numb" max="23" min="0">:<input type="number" name="" value="" id="numb" max="23" min="0">
                    <br>
                    <input type="button" id="but" onclick="addTimeValue(event)" value="add">
                    <br>
                </span>
                <span id="Friday">Friday 
                    <br>
                    <input type="number" name="" value="" id="numb" max="23" min="0">:<input type="number" name="" value="" id="numb" max="23" min="0">
                    <br>
                    <input type="button" id="but" onclick="addTimeValue(event)" value="add">
                    <br>
                </span>
            </div><hr>
            <div id="courses">
                Write your courses:<br>
                <input type="text" class="form-control" placeholder="Input here....">
                <button id="but" ng-click="addCourse()">+</button>
                <ul>
                    <li ng-repeat="course in courses">
                        {{course}} 
                        <a href="" ng-click="removeCourse($index)"><img src="img/cross.png"></a>
                    </li>
                </ul>
            </div>
            <a href="#" class="button">Send <i class="icon-chevron-right"></i></a>
       </div>
   </body>
</html>